{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.emojipicker.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery.emojipicker.js' %}"></script>

        <!-- Emoji Data -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.emojipicker.a.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery.emojis.js' %}"></script>


    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="logo"><b>Py</b>gram</span>
                </div>
                <div class="col-md-6">
                    <ul class="menu">
                        <a href="#"><li>Home</li></a>
                        <a href="#"><li>Friends</li></a>
                        <a href="#"><li>Settings</li></a>
                        <a href="#"><li>Logout ({{ request.user.username }})</li></a>
                    </ul>
                </div>
            </div>
        </div>
        <!-- header code -->
        {% block content %}
        {% endblock %}
        <!-- footer code -->
    </body>
<html>