<!-- register.html -->
{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}

    <style>
    .helptext { display:none; }
    .register table th { width:165px; }
    </style>
    {% debug %}
    <form method="post" class="register" action=".">{% csrf_token %}
        <table border="0">
            {{ form.as_table }}
        </table>
        <button type="submit" value="Register">Register</button>
    </form>


{% endblock %}
